.product-header-image {
    object-fit: contain;
    height: 600px;
    width: 100%;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
    margin-top: 30px;
    color: blueviolet;
}

.product {
    /* border: 1px solid; */
    padding: 10px;
    box-shadow: 0px 1px 1px 0px #888888
}